@media (max-width: 1200px) {
    .title-name {
        padding: 10px 40px;
        font-size: 1.5em;
        font-weight: 400;
    }
}

@media (max-width: 1150px) {
    .title-name {
        padding: 11px 20px;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 0;
    }
}

@media (max-width: 993px) {
    .title-name {
        display: none;
    }
    #divider-little {
        margin-right: 30px;
        width: 300px;
    }
    #divider-little span i {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 765px) {
    .title-name {
        display: inline-block;
        padding: 6px 20px;
        margin-bottom: 0;
        font-size: 1.8em;
        font-weight: 400;
    }
    #container-logos {
        flex-direction: column;
    }
    h2 {
        line-height: 30px;
    }
    .container-text-studies {
        flex-direction: column;
    }
    .text-studies-left:first-child {
        order: 2;
    }
    .text-studies-left:nth-child(2) {
        order: 1;
    }
    .img-hero {
        margin: 0 30%;
    }
    .divider {
        margin: 20px auto 0 !important;
    }
}

@media(max-width: 600px) {
    .img1skill {
        display: none;
    }
    .img2skill {
        display: block;
    }
}

@media(max-width: 550px) {
    .divider {
        width: 300px;
        margin: 20px auto 0;
    }
    .divider span i {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 450px) {
    .imgProfile img {
        width: 210px;
        height: 185px;
    }
    .imgProfile {
        width: 210px;
        height: 195px;
    }
}